.fa-bars {
    padding-top: 30%;
}

#sidenavdiv {
    background-color: #181818;
    color: white;
    width: 130px;
    text-align: center;
	position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidenav li {
	font-size: 11px;
	display: inline;
	float: left;
	margin-left: 4%;
}
.sidenav a {
    font-size: 14px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav p {
	font-family: 'Lora';
	color: #686868;
	margin-top: 4%;
	margin-left: 7%;
    font-size: 35px;
    font-weight: 100;
    line-height: 65px;
}

.sidenav .menulink {
	color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.pictures {
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 0;
}

#first {
	background-image: url("chloe.png");
}

#first:hover {
	background: #000;
	transition: 0.5s;
}

#second {
    background-image: url("arch.png");
}
#third {
    background-image: url("rose.png");
}

#fourth {
    background-image: url("soccer.png");
}
#fifth {
    background-image: url("mag.png");
}

#sixth {
    background-image: url("clock.png");
}

.row-container {
	margin-left: 130px;
}
