*, html {
    padding: 0;
    margin: 0;
}

h1.name {
    font-family: 'Gentium Book Basic', serif;
    position: absolute;
    background: -webkit-linear-gradient(#F2A9C0, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20rem;
}
.opener {
    height: 100vh;
}
.bckimg {
    background-color: #1C1C1C;
    z-index: -2;
}
img.jenny {
    background: cover;
    width: 100%;
    opacity: .5;
    display: inline;
}
.menu_icon i {
    border: solid 4px #F2A9C0;
    padding: 1%;
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 1%;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#F2A9C0, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cap {
    text-transform: uppercase;
}
.firstpar {
    font-family: 'Gentium Book Basic', serif;
    top: 15rem;
    position: absolute;
    width: 20%;
    right: 5rem;
    color: #333;
    text-align: justify;
    z-index: 1;
}

#j {
    left: 5rem;
}
#e {
    left: 10rem;
    top: 4.5rem;
}
#n {
    left: 19rem;
    top: 7rem;
}
#nn {
    top: 15rem;
    left: 5rem;
}
#y {
    top: 18rem;
    left: 16rem;
}